
*{
    margin:0%;
}
body{
    background-image: url("../media/banner.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;    
    position: relative;
}

/* h1{
    font-size: 100px;
    align-items: center;    
}
h2,p{
    margin:1%;
} */
/* 
.container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    padding:auto auto;
    width: 100vw;
    height: 100vh;
    
} */

svg{
    width:50%;
    margin:10px auto;
    
}
.card{
    width:80%;
    height:80%;
    margin: 10px auto;
}

.btn{
    margin:0px auto;
}