*{
    margin:0%;
}


.item-active{
    visibility:visible !important;
    opacity:1 !important;
    transition: all 0.3 ease-in-out;
    
}


.item-inactive{
    display: none !important;
    visibility:hidden !important;
    opacity:0 !important;
    transition: all 0.3 ease-in-out;
    
}

body{
    background-image: url("../media/banner.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover; 
}


.card{
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 25px;
    width: 100% !important;
    height: 100% !important;
}

svg{
    fill: black;
    width: 100%;
    /* width: 70px;
    height: 70px; */
}

main{
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 25px;
    transition: all 0.3 ease-in-out;
    & #modal-container{
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        position:fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3 ease-in-out;

        & #modal{
            width: 30%;
            height: 80%;
            background-color: white;
            border-radius: 25px;    
            padding: 50px;   

            & #Integrantes{
            width: 100%;
            height: 100%;
            background-color: white;
            border-radius: 25px;    
            display: flex ;
            flex-direction: column !important;
            justify-content: space-between !important;
            }

            & #form-user{
                width: 100%;
                height: 100%;
                background-color: white;
                border-radius: 25px;    
                display: flex ;
                flex-direction: column ;
                justify-content: space-between ;

            }
        }

        & div{
            color: black;    
            text-shadow: none;
            & button{
                margin: 5px;
                width: 100%;
                display: block;
                color:white;
            }


        }
    }
}

$nivelesIMC:(
    bajo: rgb(226, 223, 21),
    normal:rgb(25, 160, 223),
    leve:rgb(46, 216, 24),
    severa:rgb(233, 136, 25),
    muySevera:rgb(214, 31, 24),
);
@each $nombre, $valor in $nivelesIMC {
    .btn-#{$nombre}{
        background-color: $valor;
        border-radius: 0.8rem;
    }
}


#cards-container{
    & div{    
    margin-top: 15px !important;
    }
}